<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/icono_pag.jpg">
    <title>Registro exitoso</title>
    <link rel="stylesheet" href="../css/exitoso.css">
</head>
<body>
    <center>
    <div class="inic">
    <img src="../img/check 2.png" alt="">
    <h1>Tu cuenta se ha creado correctamente </h1>
    <h1>Bienvenido a Gamersir</h1>
    <button class="ahora"><a class="ahora2" href="..pagina de inicio">Empezar ahora</a></button> <!--redireccion ala pagina inicco-->
    <br>
    <br>
    </div>
</center>
</body>
</html>