<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <title>Promociones</title>
</head>
<body>
    <header>
        <div class="logo">
             <img src="./img/logo.png" alt="logo de las Promociones" class="logo-img">
             <h2 class="logo-nombre">PROMOCIONES DE TIEMPO LIMITADO</h2>
        </div>        
    </header>
    <div class="contenido">
        <div class="caja">
            <a href="oferta1.html">
                <img src="./img/oferta3x2.jpg" alt="oferta" width="250px" height="150px">
            </a>         
             <h2>Compra dos juegos y llevate el tercero gratis</h2>
        </div>


       <div class="caja">
           <a href="oferta2.html">
            <img src="./img/psg5.jpg" alt="oferta" width="250px" height="150px">
           </a>    
            <h2>Compra el PS5 y llevate un juego gratis</h2>
       </div>



      <div class="caja">
          <a href="oferta3.html">
            <img src="./img/mando.jpg" alt="oferta" width="250px" height="150px">  
          </a>        
        <h2>Comprate un mando hasta el 70% de descuento</h2>
      </div>



   <div class="caja">
       <a href="oferta4.html">
        <img src="./img/silla.jpg" alt="oferta" width="250px" height="150px">
       </a>    
    <h2>Comprate una silla gamer hasta un 80% de descuento</h2>
    </div>

    <div class="contenido">
        <div class="caja">
            <a href="oferta5.html">
                <img src="./img/polo.jpg" alt="oferta" width="250px" height="150px">
            </a>             
             <h2>Comprate un juego de PS5 y llevate un polo gratis</h2>
        </div>

        <div class="caja">
            <a href="oferta6.html">
                <img src="./img/ofertaps4.jpg" alt="oferta" width="250px" height="150px">
            </a>        
            <h2>Comprate los juegos de PS4 hasta el 60% de descuento</h2>
       </div>

       
    <div class="caja">
        <a href="oferta7.html">
            <img src="./img/nintendo_switch.jpg" alt="oferta" width="250px" height="150px"> 
        </a>        
        <h2>Comprate el Nintendo Switch hasta el 90% de descuento</h2>
   </div>


   <div class="caja">
       <a href="oferta8.html">
        <img src="./img/ps4.jpg" alt="oferta" width="250px" height="150px">
       </a>
    <h2>Comprate el PS4 hasta el 85% de descuento</h2>
  </div>
   </div>

</body>
</html>