<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/icono_pag.jpg">
    <title>Login</title>
    <link rel="stylesheet" href="../css/logi.css">
</head>
<body>
    
    <div class="contenedor">
        <img src="../img/logoin.jpg" alt="" class="logo">
    <h1 class="titi">Gamersir</h1>
    <center>
        <form id="aaa" action="" method="post">
            <label>Usuario</label>
            <br>
            <input type="text" id="txt" >
            <br>
            <label >Contraseña </label>
            <br>
            <input type="password" id="pass" >
            <br>
            <br>
            <button class="ini"><a class="bot" href="..pagina de inicio"> Iniciar</button> <!--redireccion ala pagina inicco-->
            <br>
            <h2>¿No tienes una cuenta? <a href="../views/registrase.html"> Registrate</a></h2>
            <h2>Volver a la página principal <a href="..pagina de inicio">Inicio</a></h2><!--redireccion ala pagina inicco-->
            <br>
        </center>
    
    </div>
</form>

</body>
</html>