<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/icono_pag.jpg">
    <title>Registrarse</title>
    <link rel="stylesheet" href="../css/registrase.css">
</head>
<body>
    <div class="contenedor">
        <img src="../img/logo2.png" alt="" class="logo">
<h1 class="titi">Gamersir</h1>
<center>
<form>
    <label>Ingrese un Nombre de Usuario</label>
    <br>
    <input type="text"  required>
    <br>
    <label >Ingrese una Contraseña</label>
    <br>
    <input type="password" required>
    <br>
    <label>Repita su Contraseña</label>
    <br>
    <input type="password" required >
    <br>
    <br>
    <button class="ini"><a  class="bot" href="../views/exitoso.html"> REGISTRARME</a></button>
    <br>
    <h2>Si tiene una cuenta <a href="../views/logi.html"> Iniciar sesion</a></h2>
    <h2>Volver a la página principal <a href="..pagina de inicio">Inicio</a></h2><!--redireccion ala pagina inicco-->
    <br>
</center>    
</div>
</form>
</body>
</html>