<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venta de juegos</title>
    <link rel="stylesheet" href="CSS/ventadejuegos.css">
    
</head>



<body>
    <div class="container">
        <div class="card">
            <img src="imagenes/consola.png" alt="">
            <p>POR LETSPLAY</p>
            <h6>Consola PlayStation 5 con lector de disco</h6>
            <p class="p">S/98.79</p>
            <div class="boton">
                <a href="">COMPRAR</a>
            </div>
        </div>

        <div class="card">
            <img src="imagenes/nintendo.png" alt="">
            <p>POR LETSPLAY</p>
            <h6>Consola Nintendo Switch Oled Neon</h6>
            <p class="p">S/86.50</p>
            <div class="boton">
                <a href="">COMPRAR</a>
            </div>
        </div>
        <div class="card">
            <img src="imagenes/injusticia.png" alt="">
            <p>POR LETSPLAY</p>
            <h6>Injustice 2 Playstion 4 Latam</h6>
            <p class="p">S/35.00</p>
            <div class="boton">
                <a href="">COMPRAR</a>
            </div>
        </div>

        <div class="card">
            <img src="imagenes/fifa.png" alt="">
            <p>POR LETSPLAY</p>
            <h6>Juego Fifa 22 Ps4</h6>
            <p class="p">S/60.99</p>
            <div class="boton">
                <a href="">COMPRAR</a>
            </div>
        </div>

        <div class="card">
            <img src="imagenes/ps4.png" alt="">
            <p>POR LETSPLAY</p>
            <h6>Juego Ps4 Fallout 76</h6>
            <p class="p">S/30.79</p>
            <div class="boton">
                <a href="">COMPRAR</a>
            </div>
        </div>

        <div class="card">
            <img src="imagenes/horizon.png" alt="">
            <p>POR LETSPLAY</p>
            <h6>Horizon Forbidden West Playstation 4 euro</h6>
            <p class="p">S/104.02</p>
            <div class="boton">
                <a href="">COMPRAR</a>
            </div>
        </div>

        <div class="card">
            <img src="imagenes/wwe.png" alt="">
            <p>POR LETSPLAY</p>
            <h6>WWE 2K 2022 Playstation 4 Latam</h6>
            <p class="p">S/35.79</p>
            <div class="boton">
                <a href="">COMPRAR</a>
            </div>
        </div>

        <div class="card">
            <img src="imagenes/elden.png" alt="">
            <p>POR LETSPLAY</p>
            <h6>Elden Ring PlayStation 5 Latam</h6>
            <p class="p">S/49.79</p>
            <div class="boton">
                <a href="">COMPRAR</a>
            </div>
        </div>
    </div>



</body>

</html>